<form action="/" method="get">
  <textarea rows=10 name="bbcode" placeholder="Insert BBCode"><%= @bbcode %></textarea>
  <input type="submit" value="Convert to HTML" />
</form>
<hr />

<h2>HTML</h2>
<pre class="output html">
  <%=h @html %>
</pre>

<h2>Rendered</h2>
<div class="output rendered">
  <%= @html %>
</div>

<h2>Syntax Tree (pp)</h2>
<pre class="output tree">
  <% old_stdout, $> = $>, StringIO.new %>
  <% pp(@tree)  %>
  <%=h $>.string %>
</pre>

<h2>Syntax Tree (awesome_print)</h2>
<div class="output tree-ap">
  <% $>.rewind %>
  <% ap(@tree, {html: true, index: false, color: {hash: :blue}})  %>
  <%= $>.string %>
  <% $> = old_stdout %>
</div>
